@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: "Open Sans", "Ubuntu", 'Trebuchet MS', 'Verdana', sans-serif;
	font-size: 14px;
	background-color: #2F2F2F;
	color: rgb(255, 255, 240);
}

main {
	text-align: center;
	margin: 75px 0;
}

header {
	margin: 25px 0px;
}

header h1 {
	padding: 0px;
	margin: 0px;
}

section.ctrls input {
	padding: 10px 15px;
	width: 500px;
}

section.ctrls button {
	cursor: pointer;
	margin: 15px 20px;
	padding: 5px 10px;
	font-size: 14px;
    color: rgb(255, 255, 240);
	border-radius: 2px;
	width: 100px;
	height: 35px;
}

section.ctrls button:hover {
	transition-duration: 0.25s;
}

button.confirm {
    --btn-colour: #007bff;
    background-color: var(--btn-colour);
    border: 1px solid var(--btn-colour);
}

button.confirm:hover {
	--btn-colour: #0069d9;
	background-color: var(--btn-colour);
}

button.cancel {
	--btn-colour: #dc3545;
    background-color: var(--btn-colour);
	border: 1px solid var(--btn-colour);
}

button.cancel:hover {
	--btn-colour: #c82333;
	background-color: var(--btn-colour);
}

section#holder {
	display: inline-grid;
	justify-content: center;
	grid-template-columns: auto auto auto auto;
}

section#holder a {
	display: inline-block;

	padding: 0;
	margin: 2px;
}

img:hover, video:hover {
	box-shadow: 0 0 5px rgb(135, 206, 250);
}

img, video {
	padding: 0;
	margin: 0;
	width: 240px;
	height: 240px;
	object-fit: cover;
}

@media only screen and (max-width: 1000px){
	section#holder {
		grid-template-columns: auto auto auto ;
	}
}

@media only screen and (max-width: 750px){
	section.ctrls input {
		padding: 5px 5px;
		width: 350px;
	}

	section#holder {
		grid-template-columns: auto auto ;
	}
}